[submodule "mage"]
	path = mage
	url = git@github.com:easonycliu/MPSCSpecExecMAGE.git
[submodule "oblivious-SEAL"]
	path = oblivious-SEAL
	url = git@github.com:easonycliu/MPSCSpecExecSEAL.git
[submodule "osprey"]
	path = osprey
	url = git@github.com:easonycliu/MPSCSpecExecOsprey.git
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = git@github.com:easonycliu/MPSCSpecExecYAMLCpp.git
[submodule "linux"]
	path = linux
	url = git@github.com:easonycliu/MPSCSpecExecLinux.git
[submodule "emp-tool"]
	path = emp-tool
	url = git@github.com:easonycliu/FastSMPCProject.git
[submodule "MP-SPDZ"]
	path = MP-SPDZ
	url = git@github.com:easonycliu/MPSCSpecExecMPSPDZ.git
[submodule "libOTe"]
	path = libOTe
	url = git@github.com:easonycliu/MPSCSpecExecLibOTe.git
