.bash_history
.cmake
mage-ucbrise
mage-scripts
emp-tool
emp-ot
emp-agmpc
SEAL
FlameGraph
tmp
microbenchmark
perf-tools
logs
archived
senate
__pycache__

*.img
*.png
*.pyc
*.log
*.trace
*.cmd
*.symvers
*.ko
*.mod
*.mod.c
*.mod.o
*.o
*.order

/build
/install
/pyenv

/grublist.tar.gz
