[submodule "mage"]
	path = mage
	url = git@github.com:easonycliu/MPSCSpecExecMAGE.git
[submodule "oblivious-SEAL"]
	path = oblivious-SEAL
	url = git@github.com:easonycliu/MPSCSpecExecSEAL.git
[submodule "osprey"]
	path = osprey
	url = git@github.com:easonycliu/MPSCSpecExecOsprey.git
[submodule "tfhe"]
	path = tfhe
	url = git@github.com:easonycliu/MPSCSpecExecTFHE.git
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = git@github.com:easonycliu/MPSCSpecExecYAMLCpp.git
[submodule "linux"]
	path = linux
	url = git@github.com:easonycliu/MPSCSpecExecLinux.git
[submodule "emp-tool"]
	path = emp-tool
	url = git@github.com:easonycliu/MPSCSpecExecEMPTool.git
[submodule "emp-ot"]
	path = emp-ot
	url = git@github.com:easonycliu/MPSCSpecExecEMPOT.git
[submodule "emp-agmpc"]
	path = emp-agmpc
	url = git@github.com:easonycliu/MPSCSpecExecEMPAGMPC.git
[submodule "relic"]
	path = relic
	url = git@github.com:easonycliu/MPSCSpecExecRelic.git
