[submodule "mage"]
	path = mage
	url = git@github.com:easonycliu/MPSCSpecExecMAGE.git
[submodule "oblivious-SEAL"]
	path = oblivious-SEAL
	url = git@github.com:easonycliu/MPSCSpecExecSEAL.git
[submodule "osprey"]
	path = osprey
	url = git@github.com:easonycliu/MPSCSpecExecOsprey.git
[submodule "linux"]
	path = linux
	url = git@github.com:easonycliu/MPSCSpecExecLinux.git
[submodule "emp-tool"]
	path = emp-tool
	url = git@github.com:easonycliu/MPSCSpecExecEMPTool.git
