.bash_history
.cmake
mage-ucbrise
mage-scripts
emp-tool
emp-ot
emp-agmpc
SEAL
FlameGraph
tmp
microbenchmark
perf-tools
logs
__pycache__

*.img
*.png
*.pyc
*.log
*.trace

/build
/install
/pyenv

/grublist.tar.gz
